UnitTestProject/Service References/EnvironmentalistService/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://ddacloudservice.cloudapp.net/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFServiceWebRole1" />
  <xs:import schemaLocation="http://ddacloudservice.cloudapp.net/Service1.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="CheckDatabaseConnection">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckDatabaseConnectionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckDatabaseConnectionResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFiftyMeasurementsFromRoom">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="roomId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFiftyMeasurementsFromRoomResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCFServiceWebRole1" minOccurs="0" name="GetFiftyMeasurementsFromRoomResult" nillable="true" type="q1:ArrayOfMeasurement" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLatestFiftyMeasurementsFromAll">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLatestFiftyMeasurementsFromAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCFServiceWebRole1" minOccurs="0" name="GetLatestFiftyMeasurementsFromAllResult" nillable="true" type="q2:ArrayOfMeasurement" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMeasurementsFromDate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fromDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="toDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="roomId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMeasurementsFromDateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WCFServiceWebRole1" minOccurs="0" name="GetMeasurementsFromDateResult" nillable="true" type="q3:ArrayOfMeasurement" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLatestMeasurements">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLatestMeasurementsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetLatestMeasurementsResult" nillable="true" type="q4:ArrayOfKeyValueOfstringMeasurementaI2KaaDO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRooms">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRoomsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WCFServiceWebRole1" minOccurs="0" name="GetRoomsResult" nillable="true" type="q5:ArrayOfRoom" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRoomsByTemp">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="temperature" type="xs:double" />
        <xs:element minOccurs="0" name="above" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRoomsByTempResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WCFServiceWebRole1" minOccurs="0" name="GetRoomsByTempResult" nillable="true" type="q6:ArrayOfRoom" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRoomsByDate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="date" type="xs:dateTime" />
        <xs:element minOccurs="0" name="above" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRoomsByDateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/WCFServiceWebRole1" minOccurs="0" name="GetRoomsByDateResult" nillable="true" type="q7:ArrayOfRoom" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertMeasurement">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/WCFServiceWebRole1" minOccurs="0" name="measurement" nillable="true" type="q8:Measurement" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertMeasurementResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/WCFServiceWebRole1" minOccurs="0" name="InsertMeasurementResult" nillable="true" type="q9:Measurement" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteMeasurement">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/WCFServiceWebRole1" minOccurs="0" name="measurement" nillable="true" type="q10:Measurement" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteMeasurementResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/WCFServiceWebRole1" minOccurs="0" name="DeleteMeasurementResult" nillable="true" type="q11:Measurement" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertRoom">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/WCFServiceWebRole1" minOccurs="0" name="room" nillable="true" type="q12:Room" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertRoomResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/WCFServiceWebRole1" minOccurs="0" name="InsertRoomResult" nillable="true" type="q13:Room" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRoom">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="roomId" type="xs:int" />
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/WCFServiceWebRole1" minOccurs="0" name="newRoom" nillable="true" type="q14:Room" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRoomResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/WCFServiceWebRole1" minOccurs="0" name="UpdateRoomResult" nillable="true" type="q15:Room" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteRoom">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="roomId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteRoomResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/WCFServiceWebRole1" minOccurs="0" name="DeleteRoomResult" nillable="true" type="q16:Room" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>